.hero {
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
    opacity: 60%;
}

.hero-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -10%);
    color: var(--accentcolor1);
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    z-index: 1;
}

.res-button {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    font-size: 14px;
    background-color: var(--primarycolor);
    color: var(--accentcolor1);
    border-radius: 5px;
    text-align: center;
}

#image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-direction: column;
    gap: 10px;
}

#image-section img {
    max-width: 80%;
    height: auto;
    border-radius: 5px;
}

.comments {
    text-align: center;
    margin: 20px 0;
    line-height: 1.5;
}

.comments p {
    font-size: 14px;
    color: #000;
}

.comments a {
    color: var(--accentcolor2);
    text-decoration: none;
    font-weight: bold;
}

.comments a:hover {
    text-decoration: underline;
}