@media only screen and (min-width: 500px) {

    /* Layout em grid para as imagens */
    main div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 100%;
        justify-items: center;
    }

    main div img {
        max-width: 100%;
        height: auto;
    }

    .hamburger {
        display: none;
    }


    nav ul {
        display: flex;
        flex-direction: row;
        position: static;
        gap: 20px;
        background-color: transparent;
        justify-content: space-around;
    }

    nav ul li {
        margin: 0;
    }
}